.button, .slide2__logo:hover {
    background: none;       
    border: none;           
    cursor: pointer;       
}

body {
    margin: 0;
    padding: 0;
    width: 400px;
    border: 5px solid black;
    margin: auto;
}

/* .button:hover, .nav__logo:hover, .slide2__logo:hover, .main3__photo-container1:hover, .main3__photo-container2:hover, .main3__photo-container3:hover, .slide5__main-container1:hover, .slide5__main-container2:hover, .slide5__main-container3:hover, .slide5__main-container4:hover, .container2__block2:hover, .container2__block3:hover, .container2__block5:hover, .container2__block6:hover, .main__container1:hover, .main__container2:hover, .main__container3:hover, .main__container4:hover, .column-one__photo-container1:hover, .column-one__photo-container2:hover, .column-one__photo-container3:hover, .column-two__photo-container1:hover, .column-two__photo-container2:hover, .column-two__photo-container3:hover, .column-three__photo-container1:hover, .column-three__photo-container2:hover, .column-three__photo-container3:hover, .column-four__photo-container1:hover, .column-four__photo-container2:hover, .column-four__photo-container3:hover {
    transform: scale(1.1);
}

.button:active, .nav__logo:hover, .slide2__logo:hover, .main3__photo-container1:hover, .main3__photo-container2:hover, .main3__photo-container3:hover, .slide5__main-container1:hover, .slide5__main-container2:hover, .slide5__main-container3:hover, .slide5__main-container4:hover, .container2__block2:hover, .container2__block3:hover, .container2__block5:hover, .container2__block6:hover, .main__container1:hover, .main__container2:hover, .main__container3:hover, .main__container4:hover, .column-one__photo-container1:hover, .column-one__photo-container2:hover, .column-one__photo-container3:hover, .column-two__photo-container1:hover, .column-two__photo-container2:hover, .column-two__photo-container3:hover, .column-three__photo-container1:hover, .column-three__photo-container2:hover, .column-three__photo-container3:hover, .column-four__photo-container1:hover, .column-four__photo-container2:hover, .column-four__photo-container3:hover {
    transition-duration: 0s;
} */

/* .position {
    width: 100%;
    margin: auto;
} */

/* .slide2__position {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
} */



/*design for mobile WIDTH - 400px*/

.slide1 {
    background-color: black;
}

.header1 {
    text-align: center;
}

.header1__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header1__button1 {
    font-size: 20px;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    color: white;
}

.header1__button2, .header1__button3, .header1__button4, .header1__button5, .header1__button6 {
    font-size: 15px;
    font-family: "Manrope", sans-serif;
    color: white;
}

.header1__button7 {
    border: 1px solid #7A38FC;
    font-size: 15px;
    font-family: "Manrope", sans-serif;
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
    color: white;
    margin: 10px 0 10px 0;
}

.main1__nav1 {
    text-align: center;
    color: white;
}

.main1__button1, .main1__button2 {
    border: 1px solid #7A38FC;
    font-size: 15px;
    font-family: "Manrope", sans-serif;
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
    color: white;
    margin-bottom: 10px;
}

.main1__button1 {
    background-color: #7A38FC;
}

.main1__nav2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.main1__photo-container1, .main1__photo-container2 {
    width: 150px;
    height: 150px;
    padding: 5px;
}

.main1__photo-container3 {
    width: 150px;
    height: 310px;
    padding: 5px;
}

.main1__photo3 {
    border-radius: 150px 150px 0 0;
}

.main1__photo1 {
    border-radius: 60px;
}

.main1__photo2 {
    border-radius: 60px 60px 0 0;
}

.main1__photo1, .main1__photo2, .main1__photo3 {
    width: 100%;
    height: 100%;
}

/* Finish first page */

.slide2 {
    width: 100%;
    background-color: #FFF5D9;  
}

.slide2__position {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
} 

.slide2__logo {
    padding-left: 5px;
}

/* Finish second page */

.slide3 {
    width: 100%;
    padding: auto;
}

.header3 {
    width: 100%;
    text-align: center;
}

.header3__p1{
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    margin-top: 0px;
    margin-bottom: 10%;
}

.header3__h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.span3_1 {
    color: #7A38FC;
}

.main3 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.main3__photo-container1, .main3__photo-container2, .main3__photo-container3 {
    width: 120px;
    height: 150px;
    border-radius: 20px;
}

.main3__content-container1, .main3__content-container2, .main3__content-container3 {
    position: relative;
}

.main3__photo1, .main3__photo2, .main3__photo3 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.main3__p-container1, .main3__p-container2, .main3__p-container3 {
    bottom: -2%;
    color: white;
    left: 5%;
    position: absolute;
}

.main3__p1 {
    font-size: 8px;
    margin-bottom: 0px;
}

.main3__p2 {
    font-size: 12px;
    margin-top: 0px;
}

/* Finish third page */

.decor {
    margin-top: -8px;
}

.slide4 {
    width: 100%;
    background-color: black;
    color: white;
}

.container4-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.containter4__h1 {
    font-size: 26px;
    margin-top: 5%;
    margin-bottom: 2%;
    font-family: "Manrope", sans-serif;
    justify-self: center;
    text-align: center;
}

.containter4__p1 {
    font-size: 12px;
    margin-top: 0px;
    font-family: "Manrope", sans-serif;
    justify-self: center;
    text-align: center;
    margin-bottom: 0px;
}

.slide4__container4-content__p1, .slide4__container4-content__p4 {
    font-size: 10px;
    font-family: "Manrope", sans-serif;
    margin-bottom: 0px;
}

.slide4__container4-content__p2, .slide4__container4-content__p5 {
    font-size: 10px;
    font-family: "Manrope", sans-serif;
    margin-bottom: 0px;
    margin-top: 5%;
}

.slide4__container4-content__p3, .slide4__container4-content__p6 {
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0px;
    color: #b3aeb3e1;
}



.slide4__photo-container1 {
    height: 200px;
    width: 50%;
    margin: auto;
}

.slide4__photo1 {
    border-radius: 0px 0px 150px 150px;
}

.slide4__photo-container2 {
    height: 200px;
    width: 50%;
    margin: auto;
}

.slide4__photo2 {
    border-radius: 150px 150px 0px 0px;
}

.slide4__photo1, .slide4__photo2 {
    width: 100%;
    height: 100%;
}

/* Finish fourth page */

.slide5 {
    width: 100%;
    border: 1px solid black;
    background-color: #FFF5D9;
}

.header5 {
    padding-top: 50px;
    /* display: flex;
    justify-content: space-between; */
}

.header5__h1 {
    font-size: 46px;
    display: flex;
    align-self: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header5__button1 {
    font-size: 16px;
    padding: 20px 25px 20px 25px;
    /* display: flex; */
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #7A38FC;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slide5__main {
    margin: 80px  auto;
    /* display: flex; */
    justify-content: space-between;
}

.slide5__main-container1, .slide5__main-container2, .slide5__main-container3, .slide5__main-container4 {
    width: 270px;
    height: 325px;
    border-radius: 15px;
    background-color: white;
}

.slide5__photo-container1, .slide5__photo-container2, .slide5__photo-container3, .slide5__photo-container4 {
    width: 270px;
    height: 240px;
    margin-bottom: 0px;
}

.slide5__photo1, .slide5__photo2, .slide5__photo3, .slide5__photo4 {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    background: radial-gradient(
      circle at center, /* Круг в центре */
      white, /* Цвет круга */
      white 10%, /* Радиус круга (20% от ширины/высоты контейнера) */
      transparent 40% /* Плавный переход к прозрачности */
    ),
    linear-gradient(
      to bottom, /* Направление градиента */
      #ccc, /* Серый цвет сверху */
      #999 /* Серый цвет снизу */
    );
}

.photo-container1__h1, .photo-container1__h2, .photo-container1__h3, .photo-container1__h4 {
    width: 230px;
    height: 29px;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.photo-container1__p1, .photo-container1__p2, .photo-container1__p3, .photo-container1__p4 {
    width: 230px;
    height: 16px;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Finish sixth page */

.slide6 {
    width: 100%;
}

.slide6__container1 {
    margin: auto;
    margin-top: 80px;
    text-align: center;
}

.container1__h1 {
    margin-top: auto;
    font-size: 46px;
    margin-bottom: auto;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container1__p1 {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

.slide6__container2 {
    margin-top: 50px;
}

.container2__block1 {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 18px;
    padding: 15px 0 15px 0;
    padding-right: 15px;
}

.container6_2_4 {
    width: 1170px;
    height: 106px;
    background-color: #F3F3F3;
    color: black;
}

.slide6__block4-p1, .slide6__block4-p2 {
    padding-top: 15px;
    text-align: center;
}

.slide6__block4-p1 {
    margin-bottom: 0px;
    padding-top: 25px;
}

.slide6__block4-p2 {
    margin-top: 0px;
    padding-bottom: 25px;
}

.block1__p1 {
    width: 304px;
    height: 29px;
    font-size: 24px;
    margin-left: 10px;
}

.block1__p2 {
    width: 279px;
    height: 29px;
    font-size: 24px;
    margin-right: 0px;
}

.slide6__photo-container1, .slide6__photo-container2, .slide6__photo-container3, .slide6__photo-container4 {
    width: 180px;
    height: 135px;
    margin-right: 15px;
}

.slide6__photo1, .slide6__photo2, .slide6__photo3, .slide6__photo4 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: radial-gradient(
      circle at center, /* Круг в центре */
      white, /* Цвет круга */
      white 20%, /* Радиус круга (20% от ширины/высоты контейнера) */
      transparent 40% /* Плавный переход к прозрачности */
    ),
    linear-gradient(
      to bottom, /* Направление градиента */
      #ccc, /* Серый цвет сверху */
      #999 /* Серый цвет снизу */
    );
}

.container2__block2, .container2__block3, .container2__block5, .container2__block6 {
    display: flex;
    margin-left: auto;
    margin: 25px 0 25px 0;
    justify-content: space-around;
}

.info-card1, .info-card2, .info-card3, .info-card4 {
    width: 100%;
}

.card1__main-container1, .card2__main-container1, .card3__main-container1, .card4__main-container1 {
    display: flex;
    justify-content: space-between;
    margin-top: -12px;
}

.main-container1__h1, .main-container2__h1, .main-container3__h1, .main-container4__h1 {
    margin-bottom: 0px;
    font-size: 24px;
}

.main-container1__p1, .main-container2__p1, .main-container3__p1, .main-container4__p1 {
    margin-top: 0px;
    font-size: 16px;
}

.slide6__p {
    margin-top: 10px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container2__block2, .container2__block3, .container2__block5, .container2__block6 {
    padding: 15px;
    border-radius: 20px;
}

.container2__block2 {
    background-color: #FFF5D9;
}

.container2__block3 {
    background-color: #EBE1FF;
}

.container2__block4 {
    background-color: #F3F3F3;
}

.container2__block5 {
    background-color: #E3F0FB;
}

.container2__block6 {
    background-color: #FEEAE4;
}

.slide6__button1 {
    background-color: #7A38FC;
    color: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    margin-bottom: 55px;
}

/* Finish seventh page */

.slide7 {
    width: 100%;
    border: 1px solid black;
    background-color: #FFF5D9;
}

.slide7__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}

.header__h1 {
    font-size: 46px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header__button1 {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slide7__main  {
    display: flex;
    margin: 25px auto 100px auto;
    justify-content: space-between;
}

.main__container1, .main__container2, .main__container3, .main__container4 {
    border-radius: 10px;
    position: relative;
}

.slide7__photo-container1, .slide7__photo-container2, .slide7__photo-container3, .slide7__photo-container4 {
    width: 270px;
    height: 488px;
}

.slide7__photo1, .slide7__photo2, .slide7__photo3, .slide7__photo4 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container1-content__p1, .container2-content__p1, .container3-content__p1, .container4-content__p1 {
    color: white;
    font-size: 24px;
    margin-bottom: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container1-content__p2, .container2-content__p2, .container3-content__p2, .container4-content__p2 {
    color: white;
    font-size: 12px;
    margin-top: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main__container1-content, .main__container2-content, .main__container3-content, .main__container4-content {
    left: 10%;
    align-self: flex-end;
    position: absolute;
    bottom: 2%;
}

/* Finish eigth page */

.slide8__main-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.slide8__button {
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background-color: #7A38FC;
    padding: 15px 20px 15px 20px;
    margin: 100px auto 80px auto;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container__column-one {
    width: 270px;
    height: 994px;
    display: grid;
    align-content: space-between;
}

.main-container__column-two {
    width: 270px;
    height: 905px;
    display: grid;
    align-content: space-between;
}

.main-container__column-three {
    width: 270px;
    height: 994px;
    display: grid;
    align-content: space-between;
}

.main-container__column-four {
    width: 270px;
    height: 938px;
    display: grid;
    align-content: space-between;
}

.column-one__photo-container1 {
    width: 270px;
    height: 341px;
}

.column-one__photo-container2 {
    width: 270px;
    height: 341px;
}

.column-one__photo-container3 {
    width: 270px;
    height: 252px;
}

.column-two__photo-container1 {
    width: 270px;
    height: 252px;
}

.column-two__photo-container2 {
    width: 270px;
    height: 341px;
}

.column-two__photo-container3 {
    width: 270px;
    height: 252px;
}

.column-three__photo-container1 {
    width: 270px;
    height: 341px;
}

.column-three__photo-container2 {
    width: 270px;
    height: 341px;
}

.column-three__photo-container3 {
    width: 270px;
    height: 252px;
}

.column-four__photo-container1 {
    width: 270px;
    height: 252px;
}

.column-four__photo-container2 {
    width: 270px;
    height: 374px;
}

.column-four__photo-container3 {
    width: 270px;
    height: 252px;
}

.column-one__photo1, .column-one__photo2, .column-one__photo3, .column-two__photo1, .column-two__photo2, .column-two__photo3, .column-three__photo1, .column-three__photo2, .column-three__photo3, .column-four__photo1, .column-four__photo2, .column-four__photo3 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Finish ninth page */

.slide9 {
    display: flex;
    justify-content: center;
}

.slide9__wrapper {
    background-color: black;
    border-radius: 15px;
    margin: 85px auto 150px auto;
    border: 1px solid black;
}

.slide9__main-container {
    position: relative;
    margin: 50px 50px 50px 50px;
}

.main-container__photo {
    position: absolute;
    width: 300px;
    height: 470px;
    left: 80%;
    bottom: -23%;
}

.main__photo {
    width: 100%;
    height: 100%;
}

.main-container__h1 {
    font-size: 40px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container__p1 {
    font-size: 16px;
    color: #DBDADB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container__button1 {
    width: 136px;
    height: 54px;
    background-color: #FEBF00;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Finish tenth page */

.slide10 {
    border: 1px solid black;
    background-color: black;
    color: white;
}

.slide10__container {
    border: 1px solid black;
    justify-self: center;
    margin-top: 100px;
}

.container__h1 {
    font-size: 46px;
    margin-top: 0px;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container__p1 {
    font-size: 16px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slide10__container-input {
    margin-top: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.slide10__input1 {
    /* width: 394px; */
    height: 56px;
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .slide10__button1 {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.container__button {
    background-color: #7A38FC;
    color: white;
    padding: 20px 25px 20px 25px;
    text-align: 16px;
    border-radius: 10px;
}

.nav__button1, .nav__button2, .nav__button3, .nav__button4, .nav__button5, .nav__button6, .nav__button7 {
    color: white;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slide10__nav {
    border: 1px solid black;
    margin-top: 100px;
    /* display: flex;
    justify-content: space-between; */
}

.nav__buttons-container {
    /* display: flex;
    justify-content: space-around;
    width: 609px; */
    height: 26px;
    margin-top: 10px;
}

.nav__logos-container {
    /* display: flex;
    justify-content: space-between; */
    /* width: 192px; */
    margin-top: 10px;
    font-size: 16px;
    margin-top: 0px;
    border: 1px solid black;
}

.nav__footer-container {
    border: 1px solid black;
    margin-top: 20px;
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
}

.footer-container__general {
    /* display: flex; */
    width: 268px;
    /* justify-content: space-between; */
}

/* Finish eleventh page */