.container1 {
    width: 1440px;
    height: 781px;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.header1 {
    display: flex;
    justify-content: space-around;
    height: 51px;
    width: 1170px;
    border: 1px solid black;
    padding: 32px 135px 32px 135px;
}

.button1 {
    font-size: 28px;
    font-family: "Manrope", sans-serif;
    width: 181px;
    height: 31px;
    border: 1px solid black;
}

.button2, .button3, .button4, .button5, .button6 {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

.button7 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    width: 130px;
    height: 48px;
    border: 1px solid black;
    border-radius: 10px;
    border: #7A38FC 2px solid;
}

.container1_2 {
    width: 467px;
    height: 26px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.main1 {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 570px;
    border: 1px solid black;
    margin: 20px 135px 20px 135px;
}

.nav1 {
    width: 513px;
    height: 457px;
    border: 1px solid black;
    padding-top: 20px;
}

.p1 {
    font-size: 18px;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
    border: 1px solid black;
    margin-bottom: 0;
}

.h1 {
    margin-top: 0;
    font-size: 64px;
    font-family: "Manrope", sans-serif;
    border: 1px solid black;
    font-weight: 1000;
    margin-bottom: 0;
}

.p2 {
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    border: 1px solid black;
    margin-bottom: 0;
}

.twoButtons {
    padding-top: 40px;
}

.button8 {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    width: 144px;
    height: 54px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    margin-right: 28px;
    background-color: #7A38FC;
    color: white;
}

.button9 {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    width: 161px;
    height: 54px;
    border: 1px solid black;
    text-align: center;
    border-radius: 8px;
    border: #7A38FC 2px solid;
}

.photo1 {
    border: 1px solid black;
    width: 500px;
    height: 570px;
    display: flex;
}

.photo2 {
    width: 170px;
    height: 225px; 
    border-radius: 100px;
    margin-top: 78px;
}

.photo3 {
    width: 170px;
    height: 189px; 
    border-radius: 80px 80px 0px 0px;
    margin-top: 10px;
}

.photo4 {
    width: 270px;
    height: 424px; 
    border-radius: 150px 150px 0px 0px;
    margin-top: 83px;
}

.togglePhoto {
    margin-left: 25px;
}

a {
    cursor: pointer;
}

/* Finish first page */

.container2 {
    width: 1440px;
    height: 120px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #FFF5D9;  
}

.logo1 {
    font-size: 20px;
    height: 54px;
    width: 192px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.logo2 {
    font-size: 20px;
    height: 40px;
    width: 187px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.logo3 {
    font-size: 20px;
    height: 40px;
    width: 187px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.logo4 {
    font-size: 20px;
    height: 40px;
    width: 158px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.logo5 {
    font-size: 20px;
    height: 40px;
    width: 155px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.logo6 {
    font-size: 20px;
    height: 40px;
    width: 182px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-right: -20px;
}

/* Finish second page */

.container3 {
    width: 1440px;
    height: 744px;
    border: 1px solid black;
}

.container3_1 {
    display: flex;
    justify-content: space-between;
    margin-top: 144px;
    margin-left: 135px;
    margin-right: 135px;
    width: 1170px;
    height: 78px;
    border: 1px solid black;
}

.h3_1 {
    font-size: 46px;
    margin-top: 0px;
    font-family: "Manrope", sans-serif;
    border: 1px solid black;
}

.p3_1{
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    display: flex;
    align-items: center;
    border: 1px solid black;
    display: block;
    margin-top: 0px;
}

.span3_1 {
    color: #7A38FC;
}

.container3_2 {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 1170px;
    height: 362px;
    margin-left: 135px;
}

.img3_1 {
    width: 570px;
    height: 362px;
    border-radius: 20px;
}

.img3_2 {
    width: 270px;
    height: 362px;
    border-radius: 20px;
}

.img3_3 {
    width: 270px;
    height: 362px;
    border-radius: 20px;
}

/* Finish third page */

.container4 {
    width: 1440px;
    height: 615px;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.containerInner {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    width: 1170px;
    height: 615px;
    margin-left: 135px;
}

.container4_1 {
    width: 312px;
    height: 615px;
    border: 1px solid black;
}

.container4_2 {
    width: 450px;
    height: 394px;
    border: 1px solid black;
    margin: auto;
}

.container4_1_1 {
    display: flex;
    justify-content: space-between;
}

.h4_1 {
    font-size: 46px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Manrope", sans-serif;
}

.p4_1 {
    font-size: 16px;
    margin-top: 0px;
    font-family: "Manrope", sans-serif;
    margin-bottom: 0px;
}

.p4_1_1_1, .p4_1_1_4 {
    font-size: 20px;
    font-family: "Manrope", sans-serif;
}

.p4_1_1_2, .p4_1_1_5 {
    font-size: 18px;
    font-family: "Manrope", sans-serif;
}

.p4_1_1_3, .p4_1_1_6 {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

.container4_3 {
    width: 312px;
    height: 615px;
    border: 1px solid black;
    display: flex;
}

.img4_1 {
    height: 453px;
    width: 300px;
    border-radius: 0px 0px 150px 150px;
}

.img4_2 {
    height: 450px;
    width: 299px;
    border-radius: 150px 150px 0px 0px;
    align-self: flex-end;
}

/* Finish fourth page */

.container5 {
    width: 1440px;
    height: 651px;
    border: 1px solid black;
    padding-top: 70px;
    background-color: #FFF5D9;
}

.container5_1 {
    width: 1440px;
    height: 102px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.h5_1 {
    width: 468px;
    height: 102px;
    border: 1px solid black;
    font-size: 46px;
    display: flex;
    align-self: center;
}

.a5_1 {
    width: 181px;
    height: 54px;
    font-size: 16px;
    border: 1px solid black;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #7A38FC;
    color: white;
}

.container5_2 {
    width: 1170px;
    height: 325px;
    border: 1px solid black;
    margin: 80px  auto;
    display: flex;
    justify-content: space-between;
}

.container5_1_1, .container5_1_2, .container5_1_3, .container5_1_4 {
    border: 1px solid black;
    width: 270px;
    height: 325px;
    border-radius: 15px;
    background-color: white;
}

.img5_1, .img5_2, .img5_3, .img5_4 {
    border: 1px solid black;
    width: 270px;
    height: 240px;
    margin-bottom: 0px;
    border-radius: 15px 15px 0px 0px;
}

.h5_1_1, .h5_1_2, .h5_1_3, .h5_1_4 {
    border: 1px solid black;
    width: 230px;
    height: 29px;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
}

.p5_1, .p5_2, .p5_3, .p5_4 {
    border: 1px solid black;
    width: 230px;
    height: 16px;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 10px;
}

/* Finish sixth page */

.container6 {
    width: 1440px;
    height: 1515px;
    border: 1px solid black;
}

.container6_1 {
    width: 553px;
    height: 119px;
    border: 1px solid black;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}

.h6_1_1 {
    margin-top: auto;
    font-size: 46px;
    margin-bottom: auto;
    font-weight: 400;
}

.p6_1_1 {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

.container6_2 {
    width: 1170px;
    height: 1092px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
}

.container6_2_1 {
    width: 1170px;
    height: 96px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 18px;
}

.container6_2_4 {
    width: 1170px;
    height: 106px;
    background-color: #F3F3F3;
    color: black;
}

.p6_2_1_3, .p6_2_1_4 {
    padding-top: 15px;
    text-align: center;
    font-size: 24px;
}

.p6_2_1_3 {
    margin-bottom: 0px;
}

.p6_2_1_4 {
    margin-top: 0px;
}

.p6_2_1_1 {
    width: 304px;
    height: 29px;
    font-size: 24px;
    margin-left: 10px;
}

.p6_2_1_2 {
    width: 279px;
    height: 29px;
    font-size: 24px;
    margin-right: 0px;
}

.img6_2_2_1_1 {
    width: 180px;
    height: 135px;
    border-radius: 10px;
    margin-top: 16px;
}

.container6_2_2, .container6_2_3, .container6_2_5, .container6_2_6 {
    display: flex;
    width: 1170px;
    height: 167px;
    margin-left: auto;
    border: 1px solid red;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: space-around;
}

.container6_2_2_2 {
    width: 938px;
    height: 123px;
    border: 1px solid black;
    margin-top: 22px;
}

.container6_2_2_2_1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.h6_2_2_2_1_1 {
    margin-bottom: 0px;
    font-size: 24px;
}

.p6_2_2_2_1_1 {
    margin-top: 0px;
    font-size: 16px;
}

.p6_2_2_2_1_3 {
    margin-top: 10px;
    font-size: 16px;
}

.container6_2_2 {
    background-color: #FFF5D9;
}

.container6_2_3 {
    background-color: #EBE1FF;
}

.container6_2_5 {
    background-color: #E3F0FB;
}

.container6_2_6 {
    background-color: #FEEAE4;
}

.a6_2_2_2_1_3 {
    background-color: #7A38FC;
    color: white;
    width: 175px;
    height: 54px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* Finish seventh page */

.container7 {
    width: 1440px;
    height: 806px;
    border: 1px solid black;
    background-color: #FFF5D9;
}

.container7_1 {
    display: flex;
    width: 1170px;
    height: 54px;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}

.h1_7_1 {
    font-size: 46px;
}

.a_7_1 {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.container7_2  {
    width: 1170px;
    height: 488px;
    border: 1px solid black;
    display: flex;
    margin: 64px auto;
    justify-content: space-between;
}

.container7_2_1 {
    display: flex;
    width: 270px;
    height: 488px;
    border-radius: 10px;
    background-image: image-set("https://github-production-user-asset-6210df.s3.amazonaws.com/144279969/418026326-013391da-5f31-4e09-b21e-6060c7515e69.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20250228%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250228T124700Z&X-Amz-Expires=300&X-Amz-Signature=db8af19c5933a7010f9cb6ca5d48e827bf9e8a2ca590c3341cce0e7e01725cda&X-Amz-SignedHeaders=host");
}

.p7_2_1_1 {
    color: white;
    font-size: 24px;
    margin-bottom: 0px;
}

.p7_2_1_2 {
    color: white;
    font-size: 12px;
    margin-top: 0px;
}

.container7_2_1_1 {
    margin-left: 18px;
    align-self: flex-end;
}

/* Finish eigth page */

.container8 {
    width: 1440px;
    height: 1352px;
    border: 1px solid black;
}

.container8_1 {
    width: 1170px;
    height: 994px;
    border: 1px solid black;
    display: flex;
    margin-top: 120px;
    margin-left: 135px;
    justify-content: space-between;
}

.container8_2 {
    margin-top: 120px;
    margin-left: 638px;
    width: 163px;
    height: 54px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    background-color: #7A38FC;
}

.container8_1_1 {
    width: 270px;
    height: 994px;
    border: 1px solid black;
    display: grid;
    align-content: space-between;
}

.container8_1_2 {
    width: 270px;
    height: 905px;
    border: 1px solid black;
    display: grid;
    align-content: space-between;
}

.container8_1_3 {
    width: 270px;
    height: 994px;
    border: 1px solid black;
    display: grid;
    align-content: space-between;
}

.container8_1_4 {
    width: 270px;
    height: 938px;
    border: 1px solid black;
    display: grid;
    align-content: space-between;
}

.img8_1 {
    width: 270px;
    height: 341px;
    border: 1px solid black;
}

.img8_2 {
    width: 270px;
    height: 341px;
    border: 1px solid black;
}

.img8_3 {
    width: 270px;
    height: 252px;
    border: 1px solid black;
}

.img8_4 {
    width: 270px;
    height: 252px;
    border: 1px solid black;
}

.img8_5 {
    width: 270px;
    height: 341px;
    border: 1px solid black;
}

.img8_6 {
    width: 270px;
    height: 252px;
    border: 1px solid black;
}

.img8_7 {
    width: 270px;
    height: 341px;
    border: 1px solid black;
}

.img8_8 {
    width: 270px;
    height: 341px;
    border: 1px solid black;
}

.img8_9 {
    width: 270px;
    height: 252px;
    border: 1px solid black;
}

.img8_10 {
    width: 270px;
    height: 252px;
    border: 1px solid black;
}

.img8_11 {
    width: 270px;
    height: 374px;
    border: 1px solid black;
}

.img8_12 {
    width: 270px;
    height: 252px;
    border: 1px solid black;
}

/* Finish ninth page */