.button {
    text-decoration: none;
    background: none;       /* Убирает фон кнопки */
    border: none;           /* Убирает границу кнопки */
    cursor: pointer;        /* Изменяет указатель на указатель руки (как у кнопок по умолчанию) */
}

.position {
    width: 68%;
    margin: auto;
    border: 5px solid red;
}

.slide1 {
    width: 100%;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.header1 {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 32px 0 32px 0;
}

.header1__button1 {
    font-size: 28px;
    font-family: "Manrope", sans-serif;
    border: 1px solid black;
    color: white;
}

.header1__button2, .header1__button3, .header1__button4, .header1__button5, .header1__button6 {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

.header1__button7 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    border: #7A38FC 2px solid;
    color: white;
}

.header1__content {
    display: flex;
    justify-content: space-between;
}

.main1 {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 20px 0 20px 0;
}

.main1__nav1 {
    border: 1px solid black;
    padding-top: 20px;
}

.main1__p1 {
    font-size: 18px;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
    border: 1px solid black;
    margin-bottom: 0;
}

.main1__h1 {
    margin-top: 0;
    font-size: 64px;
    font-family: "Manrope", sans-serif;
    border: 1px solid black;
    font-weight: 1000;
    margin-bottom: 0;
}

.main1__p2 {
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    border: 1px solid black;
    margin-bottom: 0;
}

.main1__buttons {
    padding-top: 40px;
}

.main1__button1 {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    padding: 15px 25px 15px 25px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    margin-right: 28px;
    background-color: #7A38FC;
    color: white;
}

.main1__button2 {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    padding: 15px 25px 15px 25px;
    border: 1px solid black;
    text-align: center;
    border-radius: 8px;
    border: #7A38FC 2px solid;
    background-color: black;
    color: white;
}

.main1__nav2 {
    border: 1px solid black;
    height: 570px;
    display: flex;
}

.main1__photos {
    margin-left: 25px;
}

.main1__photo-container1 {
    height: 225px; 
    margin-top: 78px;
    width: 170px;
}

.main1__photo-container2 {
    height: 189px; 
    margin-top: 15px;
    width: 170px;
}

.main1__photo-container3 {
    height: 424px; 
    width: 270px;
    margin-top: 83px;
    margin-left: 15px;
}

.main1__photo1, .main1__photo2, .main1__photo3 {
    width: 100%;
    height: 100%;
}

.main1__photo1 {
    border-radius: 100px;
}

.main1__photo2 {
    border-radius: 80px 80px 0px 0px;
}

.main1__photo3 {
    border-radius: 150px 150px 0px 0px;
}

/* Finish first page */

.slide2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #FFF5D9;  
}

.logo1 {
    padding-left: 10px;
}

/* Finish second page */

.slide3 {
    width: 100%;
    padding: auto;
}

.header3 {
    display: flex;
    justify-content: space-between;
    margin-top: 144px;
}

.header3__h1 {
    font-size: 46px;
    margin-top: 0px;
    font-family: "Manrope", sans-serif;
}

.header3__p1{
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    display: flex;
    display: block;
    margin-top: 0px;
}

.span3_1 {
    color: #7A38FC;
}

.main3 {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 100px auto;
}

.main3__content-container1 {
    width: 570px;
    height: 362px;
    position: relative;
}

.main3__content-container2, .main3__content-container3 {
    width: 270px;
    height: 362px;
    border-radius: 20px;
    position: relative;
}

.main3__photo1, .main3__photo2, .main3__photo3 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.main3__p-container1, .main3__p-container2, .main3__p-container3 {
    position: absolute;
    bottom: 0%;
    color: white;
    left: 5%;
}

/* Finish third page */

.slide4 {
    width: 100%;
    background-color: black;
    color: white;
}

.slide4__general-container {
    display: flex;
    justify-content: space-between;
}

.slide4__container1 {
    width: 312px;
    height: 615px;
}

.slide4__container2 {
    width: 450px;
    height: 394px;
    margin: auto;
}

.container4-content {
    display: flex;
    justify-content: space-between;
}

.containter4__h1 {
    font-size: 46px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Manrope", sans-serif;
}

.containter4__p1 {
    font-size: 16px;
    margin-top: 0px;
    font-family: "Manrope", sans-serif;
    margin-bottom: 0px;
}

.container4-content__p1, .container4-content__p4 {
    font-size: 20px;
    font-family: "Manrope", sans-serif;
}

.container4-content__p2, .container4-content__p35 {
    font-size: 18px;
    font-family: "Manrope", sans-serif;
}

.container4-content__p3, .container4-content__p6 {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

.slide4__container3 {
    width: 312px;
    height: 615px;
    display: flex;
}

.slide4__photo-container1 {
    height: 453px;
    width: 300px;
}

.slide4__photo1 {
    border-radius: 0px 0px 150px 150px;
}

.slide4__photo-container2 {
    height: 450px;
    width: 299px;
    align-self: flex-end;
}

.slide4__photo2 {
    border-radius: 150px 150px 0px 0px;
}

.slide4__photo1, .slide4__photo2 {
    width: 100%;
    height: 100%;
}

/* Finish fourth page */

.slide5 {
    width: 100%;
    border: 1px solid black;
    background-color: #FFF5D9;
}

.header5 {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.header5__h1 {
    font-size: 46px;
    display: flex;
    align-self: center;
}

.header5__button1 {
    font-size: 16px;
    padding: 20px 25px 20px 25px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #7A38FC;
    color: white;
}

.slide5__main {
    margin: 80px  auto;
    display: flex;
    justify-content: space-between;
}

.slide5__main-container1, .slide5__main-container2, .slide5__main-container3, .slide5__main-container4 {
    width: 270px;
    height: 325px;
    border-radius: 15px;
    background-color: white;
}

.slide5__photo-container1, .slide5__photo-container2, .slide5__photo-container3, .slide5__photo-container4 {
    width: 270px;
    height: 240px;
    margin-bottom: 0px;
}

.slide5__photo1, .slide5__photo2, .slide5__photo3, .slide5__photo4 {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
}

.photo-container1__h1, .photo-container1__h2, .photo-container1__h3, .photo-container1__h4 {
    width: 230px;
    height: 29px;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 10px;
}

.photo-container1__p1, .photo-container1__p2, .photo-container1__p3, .photo-container1__p4 {
    width: 230px;
    height: 16px;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 10px;
}

/* Finish sixth page */

.slide6 {
    width: 100%;
}

.slide6__container1 {
    margin: auto;
    margin-top: 80px;
    text-align: center;
}

.container1__h1 {
    margin-top: auto;
    font-size: 46px;
    margin-bottom: auto;
    font-weight: 400;
}

.container1__p1 {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

.slide6__container2 {
    margin-top: 50px;
}

.container2__block1 {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 18px;
    padding: 15px 0 15px 0;
    padding-right: 15px;
}

.container6_2_4 {
    width: 1170px;
    height: 106px;
    background-color: #F3F3F3;
    color: black;
}

.p6_2_1_3, .p6_2_1_4 {
    padding-top: 15px;
    text-align: center;
    font-size: 24px;
}

.p6_2_1_3 {
    margin-bottom: 0px;
}

.p6_2_1_4 {
    margin-top: 0px;
}

.block1__p1 {
    width: 304px;
    height: 29px;
    font-size: 24px;
    margin-left: 10px;
}

.block1__p2 {
    width: 279px;
    height: 29px;
    font-size: 24px;
    margin-right: 0px;
}

.slide6__photo-container1, .slide6__photo-container2, .slide6__photo-container3, .slide6__photo-container4 {
    width: 180px;
    height: 135px;
    margin-right: 15px;
    border: 1px solid red;
}

.slide6__photo1, .slide6__photo2, .slide6__photo3, .slide6__photo4 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container2__block2, .container2__block3, .container2__block5, .container2__block6 {
    display: flex;
    margin-left: auto;
    margin: 25px 0 25px 0;
    justify-content: space-around;
}

.info-card1, .info-card2, .info-card3, .info-card4 {
    width: 100%;
}

.card1__main-container1, .card2__main-container1, .card3__main-container1, .card4__main-container1 {
    display: flex;
    justify-content: space-between;
}

.main-container1__h1, .main-container2__h1, .main-container3__h1, .main-container4__h1 {
    margin-bottom: 0px;
    font-size: 24px;
}

.main-container1__p1, .main-container2__p1, .main-container3__p1, .main-container4__p1 {
    margin-top: 0px;
    font-size: 16px;
}

.p6_2_2_2_1_3 {
    margin-top: 10px;
    font-size: 16px;
}

.container2__block2, .container2__block3, .container2__block5, .container2__block6 {
    padding: 15px;
    border-radius: 20px;
}

.container2__block2 {
    background-color: #FFF5D9;
}

.container2__block3 {
    background-color: #EBE1FF;
}

.container2__block4 {
    background-color: #F3F3F3;
}

.container2__block5 {
    background-color: #E3F0FB;
}

.container2__block6 {
    background-color: #FEEAE4;
}

.slide6__button1 {
    background-color: #7A38FC;
    color: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    margin-bottom: 55px;
}

/* Finish seventh page */

.slide7 {
    width: 100%;
    border: 1px solid black;
    background-color: #FFF5D9;
}

.slide7__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}

.header__h1 {
    font-size: 46px;
}

.header__button1 {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.slide7__main  {
    display: flex;
    margin: 25px auto 100px auto;
    justify-content: space-between;
}

.main__container1, .main__container2, .main__container3, .main__container4 {
    border-radius: 10px;
    position: relative;
}

.slide7__photo-container1, .slide7__photo-container2, .slide7__photo-container3, .slide7__photo-container4 {
    width: 270px;
    height: 488px;
}

.slide7__photo1, .slide7__photo2, .slide7__photo3, .slide7__photo4 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* position: relative; */
}

.container1-content__p1, .container2-content__p1, .container3-content__p1, .container4-content__p1 {
    color: white;
    font-size: 24px;
    margin-bottom: 0px;
}

.container1-content__p2, .container2-content__p2, .container3-content__p2, .container4-content__p2 {
    color: white;
    font-size: 12px;
    margin-top: 0px;
}

.main__container1-content, .main__container2-content, .main__container3-content, .main__container4-content {
    left: 10%;
    align-self: flex-end;
    position: absolute;
    bottom: 2%;
}

/* Finish eigth page */

.slide8__main-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.slide8__button {
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #7A38FC;
    padding: 15px 20px 15px 20px;
    margin: 100px auto 80px auto;
    display: flex;
}

.main-container__column-one {
    width: 270px;
    height: 994px;
    display: grid;
    align-content: space-between;
}

.main-container__column-two {
    width: 270px;
    height: 905px;
    display: grid;
    align-content: space-between;
}

.main-container__column-three {
    width: 270px;
    height: 994px;
    display: grid;
    align-content: space-between;
}

.main-container__column-four {
    width: 270px;
    height: 938px;
    display: grid;
    align-content: space-between;
}

.column-one__photo-container1 {
    width: 270px;
    height: 341px;
}

.column-one__photo-container2 {
    width: 270px;
    height: 341px;
}

.column-one__photo-container3 {
    width: 270px;
    height: 252px;
}

.column-two__photo-container1 {
    width: 270px;
    height: 252px;
}

.column-two__photo-container2 {
    width: 270px;
    height: 341px;
}

.column-two__photo-container3 {
    width: 270px;
    height: 252px;
}

.column-three__photo-container1 {
    width: 270px;
    height: 341px;
}

.column-three__photo-container2 {
    width: 270px;
    height: 341px;
}

.column-three__photo-container3 {
    width: 270px;
    height: 252px;
}

.column-four__photo-container1 {
    width: 270px;
    height: 252px;
}

.column-four__photo-container2 {
    width: 270px;
    height: 374px;
}

.column-four__photo-container3 {
    width: 270px;
    height: 252px;
}

.column-one__photo1, .column-one__photo2, .column-one__photo3, .column-two__photo1, .column-two__photo2, .column-two__photo3, .column-three__photo1, .column-three__photo2, .column-three__photo3, .column-four__photo1, .column-four__photo2, .column-four__photo3 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Finish ninth page */

.slide9 {
    display: flex;
    justify-content: center;
}

.slide9__wrapper {
    background-color: black;
    border-radius: 15px;
    margin: 85px auto 150px auto;
    border: 1px solid black;
}

.slide9__main-container {
    position: relative;
    margin: 50px 50px 50px 50px;
}

.main-container__photo {
    position: absolute;
    width: 300px;
    height: 470px;
    left: calc(50% - 300px/2 + 380px);
    bottom: -50px;
}


.main-container__h1 {
    font-size: 40px;
    color: white;
}

.main-container__p1 {
    font-size: 16px;
    color: #DBDADB;
}

.main-container__button1 {
    width: 136px;
    height: 54px;
    background-color: #FEBF00;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 30px;
}

/* Finish tenth page */

.container10 {
    width: 1440px;
    height: 589px;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.container10_1 {
    width: 1170px;
    height: 457px;
    border: 1px solid black;
    justify-self: center;
    margin-top: 100px;
}

.h10_1_1 {
    font-size: 46px;
    margin-top: 0px;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 0px;
}

.p10_1_1 {
    font-size: 16px;
    text-align: center;
}

.container10_1_1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input10_1_1_1 {
    width: 394px;
    height: 56px;
    border-radius: 10px;
    margin-right: 10px;
}

.a10_1_1_2 {
    width: 126px;
    height: 54px;
    background-color: #7A38FC;
    color: white;
    text-align: 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container10_2_1 {
    width: 1170px;
    height: 42px;
    border: 1px solid black;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.container10_2_1_1 {
    display: flex;
    justify-content: space-around;
    width: 609px;
    height: 26px;
    margin-top: 10px;

}

.container10_2_1_2 {
    display: flex;
    justify-content: space-between;
    width: 192px;
    margin-top: 10px;
    font-size: 16px;
    margin-top: 0px;
    border: 1px solid black;
}

.p10_2_1_1 {
    font-size: 28px;
    margin-top: 3px;
}

.img_2_1_2_1 {
    width: 42px;
    height: 42px;
    border: 1px solid black;
    border-radius: 180px;
}

.container10_2 {
    width: 1170px;
    height: 26px;
    border: 1px solid black;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container10_2_1final {
    display: flex;
    width: 268px;
    justify-content: space-between;
}

.pFinal {
    font-size: 16px;
}

/* Finish eleventh page */